<div pep-main-area style="height: inherit">
    <mat-tab-group #tabGroup class="editor-tabs" [selectedIndex]="blockHelperService.activeTabIndex" (selectedTabChange)="blockHelperService.tabClick($event)" animationDuration="0ms">
        <mat-tab id="1" label="{{'General' | translate}}">
            <div>
                <div id="border">
                    <pep-checkbox [value]="blockHelperService.configuration?.useBorder" [label]="'Border' | translate" [renderTitle]="false" (valueChange)="blockHelperService.onFieldChange('useBorder',$event, hostEvents)"></pep-checkbox>
                    <pep-color [value]="blockHelperService.configuration?.border?.color" [label]="'BorderColor' | translate" [disabled]="!blockHelperService.configuration?.useBorder" xAlignment="left" type="any" [showTitle]="true" [showAAComplient]="true" (valueChange)="blockHelperService.onFieldChange('border.color',$event, hostEvents)">
                    </pep-color>
                    <pep-slider [label]="'BorderOpacity' | translate" [hint]="blockHelperService.configuration?.border?.opacity?.toString()" [minValue]="0" [maxValue]="100" [disabled]="!blockHelperService.configuration?.useBorder" [value]="blockHelperService.configuration?.border?.opacity" [background]="blockHelperService.getSliderBackground(blockHelperService.configuration?.border?.color)" (valueChange)="blockHelperService.onFieldChange('border.opacity',$event, hostEvents)">
                    </pep-slider>
                </div>
                <div>
                    <pep-checkbox [value]="blockHelperService.configuration?.useDropShadow" [label]="'DropShadow' | translate" [renderTitle]="false" (valueChange)="blockHelperService.onFieldChange('useDropShadow',$event, hostEvents)">
                    </pep-checkbox>
                    <label class="body-xs normal ellipsis">{{'ShadowType' | translate}}</label>
                    <pep-group-buttons [buttons]="blockHelperService.DropShadowStyle" buttonsClass="md regular" (buttonClick)="blockHelperService.onFieldChange('dropShadow.type',$event, hostEvents)" viewType="toggle" stretch="true">
                    </pep-group-buttons>
                    <pep-slider [label]="'ShadowIntensity' | translate" [minValue]="0" [maxValue]="100" (valueChange)="blockHelperService.onFieldChange('dropShadow.intensity',$event, hostEvents)">
                    </pep-slider>
                </div>
            </div>
        </mat-tab>
        <mat-tab id="2" label="{{'Content' | translate}}">
            <label class="body-md ellipsis pull-left flip">{{
                "Data query" | translate
            }}</label>
            <pep-select
                [label]="'select a query from defined queries'"
                [value]="blockHelperService.configuration.query"
                [mandatory]="false"
                [disabled]="false"
                xAlignment="left"
                [options]="blockHelperService.queryOptions"
                [showTitle]="true"
                [emptyOption]="false"
                (valueChange)="blockHelperService.queryChanged($event, hostEvents)"
                *ngIf="blockHelperService.blockLoaded"
            ></pep-select>

            <addon-query-select
                [inputVars]="blockHelperService.inputVars"
                [variablesData]="blockHelperService.configuration?.variablesData"
                [pageParametersOptions]="blockHelperService.pageParametersOptions"
                (variablesDataChange)="blockHelperService.onVariablesDataChanged($event, hostEvents)"
            ></addon-query-select>

        </mat-tab>
    </mat-tab-group>
</div>