<div pep-main-area style="height: inherit">
    <mat-tab-group #tabGroup class="editor-tabs" [selectedIndex]="activeTabIndex" (selectedTabChange)="tabClick($event)" animationDuration="100ms">
        <mat-tab id="1" label="{{'General' | translate}}">
            <div>
                <div id="border">
                    <pep-checkbox [value]="getConfiguration?.useBorder" [label]="'Border' | translate" [renderTitle]="false" (valueChange)="onFieldChange('useBorder',$event)"></pep-checkbox>
                    <pep-color [value]="getConfiguration?.border?.color" [label]="'BorderColor' | translate" [disabled]="!getConfiguration?.useBorder" xAlignment="left" type="any" [showTitle]="true" [showAAComplient]="true" (valueChange)="onFieldChange('border.color',$event)">
                    </pep-color>
                    <pep-slider [label]="'BorderOpacity' | translate" [hint]="getConfiguration?.border?.opacity?.toString()" [minValue]="0" [maxValue]="100" [disabled]="!getConfiguration?.useBorder" [value]="getConfiguration?.border?.opacity" [background]="getSliderBackground(getConfiguration?.border?.color)" (valueChange)="onFieldChange('border.opacity',$event)">
                    </pep-slider>
                </div>
                <div>
                    <pep-checkbox [value]="getConfiguration?.useDropShadow" [label]="'DropShadow' | translate" [renderTitle]="false" (valueChange)="onFieldChange('useDropShadow',$event)">
                    </pep-checkbox>
                    <label class="body-xs normal ellipsis">{{'ShadowType' | translate}}</label>
                    <pep-group-buttons [buttons]="DropShadowStyle" buttonsClass="md regular" (buttonClick)="onFieldChange('dropShadow.type',$event)" viewType="toggle" stretch="true">
                    </pep-group-buttons>
                    <pep-slider [label]="'ShadowIntensity' | translate" [minValue]="0" [maxValue]="100" (valueChange)="onFieldChange('dropShadow.intensity',$event)">
                    </pep-slider>
                </div>
            </div>
        </mat-tab>
        <mat-tab id="2" label="{{'Content' | translate}}">
            <h2>{{'DataQueries' | translate}}
            </h2>
            <div id="seriesButtons" class="queries-containter">
                <div *ngFor="let qureiesButton of seriesButtons">
                    <pep-group-buttons [buttons]="qureiesButton" [buttonsDisabled]="false" [viewType]="'split'">
                    </pep-group-buttons>
                </div>
                <pep-button [value]="'Add' | translate" (buttonClick)="add()"></pep-button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>