.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .queries-containter{
    display: flex;
    flex-direction: column;  
    gap: 0.5rem;
  }
  
  // ::ng-deep {
  //     .mat-focus-indicator mat-button mat-button-base pep-button md weak pull-left flip first-button ng-star-inserted
  //     {
  //       margin-inline-end: 30px;
  //       width: 100%;
  //     }
  // }
  
  //   ::ng-deep .mat-tab-header-pagination {
  //     display: none !important;
  // }
  
  pep-checkbox{
    height: 2rem;
    min-height: 2rem;
    // margin-bottom: .5rem;

    ::ng-deep  .pep-checkbox-container{
        background: transparent;
        padding-inline: 0;

        label{
            &.mat-checkbox-layout{
                font-weight:  600;
                font-size: 1.25rem;

                .mat-checkbox-inner-container{
                    margin-inline-start: 0 !important;
                    margin-inline-end: .25rem !important;
                }
            }
        }
    }

    &.body-sm{

        height: 1.5rem;
        min-height: 1.5rem;
        margin-bottom: .25rem;

        ::ng-deep .pep-checkbox-container{
            height: 1.5rem;

            label{
            &.mat-checkbox-layout{
                font-weight:  400;
                font-size: 1rem;

                .mat-checkbox-inner-container{
                    height: 1rem;
                    width: 1rem;
                }
            }
        }
    }
    }
}
  .editor-tabs {
    height: 100%;
  
    .add-section-button {
        margin-bottom: 1rem;
    }
  
    ::ng-deep .mat-tab-header-pagination{
        display: none;
    }
  
    ::ng-deep .mat-tab-labels {
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        .mat-tab-label {
            padding: 0 .75rem !important;
        }
    }
  
    ::ng-deep .group-buttons-container {
        margin-bottom: 1rem;
  
        .toggle-buttons{
            width: 100%;
        }
    }
  
    ::ng-deep .mat-tab-body-wrapper {
        overflow: unset;
        margin: 0;
        display: block;
  
        .mat-tab-body {
            &.mat-tab-body-active {
                overflow: unset;
  
                .mat-tab-body-content {
                    overflow: unset;
                    display: flex;
                    flex-direction: column;
                    padding-inline: 0;
  
                    toolbar-actions{
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }
  }
 
  
  #seriesButtons{
    ::ng-deep .group-buttons-container {
        margin-bottom: 0rem!important;
    }
  }


  pep-group-buttons{
    ::ng-deep{
        pep-icon{
            max-height: 1rem;
            
        }
        .group-buttons-container{
        flex-direction: column;
        }
        .split-buttons {
            grid-template-columns: auto 2.5rem;
        }

    } 
}

pep-slider{
        margin-bottom: 1rem;
}