<div style="width: 832px;">
    <pep-dialog [title]="'EditSeries' | translate">
        <ng-container pep-dialog-content>
            <div>
                <div class="flex-gap">
                    <pep-textbox class="flex" [mandatory]="true" [(value)]="series.Name" [label]="'Name' | translate" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
                    <pep-select class="flex" [mandatory]="true" [emptyOption]="false" [(value)]="series.Resource" [key]="'resourceSelect'" [label]="'Resource' | translate" [xAlignment]="'left'" [options]='resourceOptions' (valueChange)="onResourceChange($event)">
                    </pep-select>
                </div>
                <h4>
                    {{'LabelFormat' | translate}}
                </h4>
                <pep-field-title [label]="'LabelFormatDescription' | translate" class="header" [inputLength]="900">
                </pep-field-title>
                <pep-textbox class="half-width no-title" [(value)]="series.Label" [showTitle]="false" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
                <div id="metric">
                    <h2>{{'Metric' | translate}}
                    </h2>
                    <hr>
                    <pep-field-title [label]="'AggregationDescription' | translate" class="header">
                    </pep-field-title>
                    <div class="flex-gap">
                        <pep-select class="flex" [mandatory]="true" [emptyOption]="false" [(value)]="series.AggregatedFields[0].Aggregator" [key]="'aggregationsSelect'" [label]="'Aggregator' | translate" [xAlignment]="'left'" [options]='aggregationsOptions' (valueChange)="onAggregatorSelected($event)">
                        </pep-select>
                        <pep-select *ngIf="series.AggregatedFields[0].Aggregator=='Sum' || series.AggregatedFields[0].Aggregator=='Average' || series.AggregatedFields[0].Aggregator=='CountDistinct'" class="flex" [emptyOption]="false" [(value)]="series.AggregatedFields[0].FieldID" [key]="'fieldAggregationsSelect'" [label]="'AggregatedField' | translate" [xAlignment]="'left'" [options]='aggregationsFieldsOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                    </div>
                    <div id="scripts" *ngIf="series.AggregatedFields[0].Aggregator === 'Script'">
                        <!-- <pep-field-title [label]="'ScriptParameters' | translate" class="header">
                        </pep-field-title> -->
                        <h4>
                            {{'ScriptParameters' | translate}}
                        </h4>
                        <pep-field-title [label]="'ScriptParametersDescription' | translate" class="header">
                        </pep-field-title>
                        <pep-field-title [label]="'ScriptParametersDescriptionExample' | translate" class="header">
                        </pep-field-title>
                        <div class="space-between">
                            <div class="tab">
                                <pep-field-title [label]="'ScriptParametersDescriptionExampleOne' | translate" class="header">
                                </pep-field-title>
                                <pep-field-title [label]="'ScriptParametersDescriptionExampleTwo' | translate" class="header">
                                </pep-field-title>
                                <pep-field-title [label]="'ScriptParametersDescriptionExampleThree' | translate" class="header">
                                </pep-field-title>

                            </div>
                            <button mat-button class="pep-spacing-element pep-button md strong" (click)="addAggregatedParam()">
                                {{'Add'| translate}}
                            </button>
                        </div>
                        <div>

                            <div *ngFor="let aggregatedParam of series.AggregatedParams; let i = index">
                                <div class="flex-gap">
                                    <pep-textbox class="flex" [(value)]="aggregatedParam.Name" [label]="'Name' | translate" [showTitle]="i==0" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
                                    <pep-select class="flex" [(value)]="aggregatedParam.Aggregator" [emptyOption]="false" [label]="'Aggregation' | translate" [showTitle]="i==0" (valueChange)="onTypeChange($event)" [options]="aggregationsOptions" class="pull-left flip"></pep-select>
                                    <pep-select class="flex" [(value)]="aggregatedParam.FieldID" [emptyOption]="false" [label]="'Field' | translate" [showTitle]="i==0" (valueChange)="onTypeChange($event)" [options]="aggregationsFieldsOptions" class="pull-left flip"></pep-select>
                                    <button (click)="deleteAggregatedParam(i)" class="top mat-focus-indicator mat-button mat-button-base pep-button md weak caution pull-left flip last-button icon-button ng-star-inserted">
                                        <mat-icon style="padding: 1.2rem;">
                                            <pep-icon name="system_bin"></pep-icon>
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <pep-textarea [key]="'textarea1'" [label]="'Script' | translate" [(value)]="series.AggregatedFields[0].Script" [rowSpan]="2" [xAlignment]="'left'">
                        </pep-textarea>
                    </div>
                </div>
                <div id="categories">
                    <pep-checkbox [value]="useCategories" [label]="'Categories' | translate" [renderTitle]="false" (valueChange)="onEventCheckboxChanged('Categories',$event)"></pep-checkbox>
                    <hr>
                    <pep-field-title [label]="'CategoriesDescription' | translate" class="header">
                    </pep-field-title>
                    <div class="flex-gap">
                        <pep-select class="flex flex-grow" [disabled]="!useCategories" [emptyOption]="false" [(value)]="series.GroupBy && series.GroupBy[0] && series.GroupBy[0].FieldID" [key]="'GroupBySelect'" [label]="'GroupByField'  | translate" [xAlignment]="'left'" [options]='aggregationsFieldsOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                        <!-- <pep-textbox class="flex" [disabled]="!useCategories" [value]="series.GroupBy && series.GroupBy[0] &&series.GroupBy[0].Interval"  [label]="'Interval'  | translate" [type]="'int'" (valueChange)="onGroupByIntervalChanged($event)"></pep-textbox> -->
                        <pep-select class="flex" [label]="'Interval' | translate" [disabled]="!useCategories" [emptyOption]="false" [key]="'intervalSelect'" [xAlignment]="'left'" [(value)]="series.GroupBy && series.GroupBy[0] &&series.GroupBy[0].Interval" [options]='intervalOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                        <pep-select class="flex" [label]="'Foramt' | translate" [disabled]="!useCategories" [emptyOption]="false" [key]="'formatSelect'" [xAlignment]="'left'" [(value)]="series.GroupBy && series.GroupBy[0] &&series.GroupBy[0].Format" [options]='formatOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                    </div>
                    <pep-textbox class="half-width" [disabled]="!useCategories" [(value)]="series.Name" [label]="'Alias' | translate" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
                </div>
                <div id="dynamic-series">
                    <pep-checkbox [value]="useDynamicSeries" [label]="'DynamicSeries' | translate" [renderTitle]="false" (valueChange)="onEventCheckboxChanged('DynamicSeries',$event)"></pep-checkbox>

                    <pep-field-title [label]="'DynamicSeriesDescriptions' | translate" class="header">
                    </pep-field-title>
                    <div class="flex-gap">
                        <pep-select class="flex flex-grow" [disabled]="!useDynamicSeries" [emptyOption]="false" [key]="'groupBySelect'" [(value)]="series.BreakBy.FieldID" [label]="'BreakByField' | translate" [xAlignment]="'left'" [options]='aggregationsFieldsOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                        <!-- <pep-textbox class="flex" [disabled]="!useDynamicSeries"  [label]="'Interval'  | translate" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox> -->
                        <pep-select class="flex" [disabled]="!useDynamicSeries" [emptyOption]="false" [key]="'intervalSelect'" [xAlignment]="'left'" [options]='intervalOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                    </div>
                </div>

                <div id="limit-number">
                    <pep-checkbox [value]="limitNumber" [label]="'LimitNumberOfResults' | translate" [renderTitle]="false" (valueChange)="onEventCheckboxChanged('LimitNumberResults',$event)"></pep-checkbox>

                    <div class="flex-gap half-width">
                        <pep-textbox class="flex" [disabled]="!limitNumber" [label]="'NumberOf' | translate" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
                        <pep-select class="flex" [disabled]="!limitNumber" [label]="'Order'" [emptyOption]="false" [key]="'intervalSelect'" [xAlignment]="'left'" [options]='orderOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                    </div>
                </div>



                <div id="filter">
                    <h2>{{'Filter' | translate}}
                    </h2>
                    <hr>
                    <div class="flex-gap">
                        <pep-select class="flex" [emptyOption]="false" [(value)]="series.Scope && series.Scope.Account" [label]="'AccountFilter'  | translate" [key]="'accountFilterSelect'" [xAlignment]="'left'" [options]='accountFilterOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                        <pep-select *ngIf="series.Scope && series.Scope.Account==='AccountsWithTheSameFieldValue'" class="flex" [emptyOption]="false" [label]="'AccountFilterField'  | translate" [key]="'accountFilterFieldSelect'" [xAlignment]="'left'" [options]='accountFilterFieldOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                    </div>
                    <div class="flex-gap">
                        <pep-select class="flex" [emptyOption]="false" [(value)]="series.Scope && series.Scope.User" [label]="'UserFilter'  | translate" [key]="'userFilterSelect'" [xAlignment]="'left'" [options]='userFilterOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                        <pep-select *ngIf="series.Scope && series.Scope.User==='UsersWithTheSameFieldValue'" class="flex" [emptyOption]="false" [label]="'UserFilterField'  | translate" [key]="'userFilterFieldSelect'" [xAlignment]="'left'" [options]='userFilterFieldOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>

                    </div>
                    <div class="flex-gap">
                        <pep-select class="flex" [emptyOption]="false" [label]="'PeriodFilter' | translate" [key]="'intervalSelect'" [xAlignment]="'left'" [options]='periodOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                        <pep-textbox class="flex" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
                        <pep-select class="flex" [emptyOption]="false" [key]="'intervalSelect'" [xAlignment]="'left'" [options]='intervalOptions' (valueChange)="onChartSelected($event)">
                        </pep-select>
                    </div>
                    <pep-textarea [key]="'textarea1'" [label]="'FilterRules' | translate" [value]="series.Filter" [rowSpan]="2" [maxFieldCharacters]="300" [xAlignment]="'left'">
                    </pep-textarea>
                </div>

                <!-- dynamicFilter is not relevant since page builder filter not deleped yet -->
                <!-- <div id="dynamicFilter">
                    <h2>{{'DynamicFilter' | translate}}
                    </h2>
                    <hr>
                    <div class="space-between">
                        <pep-field-title [label]="'DynamicFilterDescription' | translate" class="header">
                        </pep-field-title>
                        <button mat-button class="pep-spacing-element pep-button md strong" (click)="addDynamicFilterFields()">
                            {{'Add'| translate}}
                        </button>
                    </div>

                    <div id="fields-container">
                        <div class="fieldRow" *ngFor="let dynamicFilterFields of series.DynamicFilterFields;  let i = index">
                            <div id="aggregators-params-container">
                                <pep-select [disabled]="false" [showTitle]="false" [emptyOption]="false" [options]="aggregationsFieldsOptions" class="pull-left flip" [value]="series.DynamicFilterFields[i]"></pep-select>

                                <button (click)="deleteDynamicFilterFields(i)" class="mat-focus-indicator mat-button mat-button-base pep-button md weak caution pull-left flip last-button icon-button ng-star-inserted">
                                    <mat-icon style="padding: 1.2rem;">
                                        <pep-icon name="system_bin"></pep-icon>
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                </div> -->

            </div>
        </ng-container>
        <ng-container pep-dialog-actions>
            <div class="pep-spacing-element-negative">
                <div>
                    <button mat-button class="pep-spacing-element pep-button md weak" [mat-dialog-close]>
                        {{'ACTIONS.CANCEL' | translate}}
                    </button>
                    <button mat-button class="pep-spacing-element pep-button md strong" (click)="onSave($event)" [mat-dialog-close]="series">
                        {{(mode == 'Add' ? 'Add' : 'Update') | translate}}
                    </button>
                </div>
            </div>
        </ng-container>
    </pep-dialog>
</div>