<ng-container pep-top-area>
    <!-- <pep-top-bar>
        <div header-start-content>
            <pep-button [value]="'Back' | translate" [iconPosition]="'start'" (buttonClick)="backClicked()" [iconName]="'arrow_left_alt'"></pep-button>
        </div>
        <div header-end-content class="pep-spacing-element">
        </div>
    </pep-top-bar> -->
</ng-container>
<div pep-main-area style="height: inherit;margin-top: 1rem">
    <!-- <mat-tab-group #tabGroup [selectedIndex]="activeTabIndex" [dynamicHeight]="false" (selectedTabChange)="tabClick($event)" animationDuration="100ms"> -->
    <!-- <mat-tab id="1" label="{{'General' | translate}}"> -->
    <div>
        <pep-select [key]="'chartSelect'" [label]="'Select a chart'" [value]="currentChart" [xAlignment]="'left'" [options]='chartsOptions' (valueChange)="onChartSelected($event)">
        </pep-select>
        <pep-textbox [label]="'Label' | translate" [type]="'text'" (valueChange)="onValueChanged('Name', $event)"></pep-textbox>
        <pep-select #pepSelect [key]="'querySelect'" [label]="'Select a data query'" [value]="currentQuery" [xAlignment]="'left'" [options]='queriesOptions' (valueChange)="onDataQuerySelected($event)">
        </pep-select>
        <div class="queries-containter">
            <div *ngFor="let qureiesButton of seriesButtons">
                <pep-group-buttons [buttons]="qureiesButton" [buttonsDisabled]="false" [viewType]="'split'">
                </pep-group-buttons>
            </div>
            <pep-button *ngIf="this.selectedQuery" style="width: 4rem;" [value]="'Add' | translate" (buttonClick)="add()"></pep-button>
        </div>
    </div>
   
    <!-- <addon-pepperi-list-exmaple [type]="'Data'" [ID]='0' [isActive]="activeTabIndex === 0" [data]="activeTabIndex === 0 ? currentData : null"></addon-pepperi-list-exmaple> -->
    <!-- </mat-tab>
        <mat-tab id="2" label="{{'Content' | translate}}"> -->


    <!-- </mat-tab> -->
    <!-- <mat-tab  id="3" label="{{'SetupTabHeader' | translate}}">
            <addon-pepperi-list-exmaple [type]="'Setup'" [ID]='2' [isActive]="activeTabIndex === 2" [data]="activeTabIndex === 2 ? currentData : null"></addon-pepperi-list-exmaple>
        </mat-tab> -->

    <!-- <mat-tab *ngFor="let tab of relationsData; let index = index" [label]="getRelationDataTabLabel(tab)">
            <addon-pepperi-list-exmaple [type]="'Relation'" [ID]=index+3 [isActive]="activeTabIndex === index+3" [relationsData]="activeTabIndex === index+3 ? tab : null"></addon-pepperi-list-exmaple>
          </mat-tab> -->

    <!-- </mat-tab-group> -->
</div>