.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.queries-containter{
    display: flex;
    flex-direction: column;  
    gap: 0.5rem;
  }

//   ::ng-deep {
//      .mat-focus-indicator mat-button mat-button-base pep-button md weak pull-left flip first-button ng-star-inserted
//       {
//         margin-inline-end: 30px;
//         width: 100%;
//       }
//   }