<div class="list-wrapper" #listContainer id="listContainer" [ngStyle]="{'border': dataVisualizationService.getChartBorder(this.configuration?.useBorder, this.configuration?.border),
'box-shadow': configuration?.useDropShadow === true ? dataVisualizationService.getCardShadow(this.configuration?.dropShadow?.intensity/100,configuration?.dropShadow?.type) : 'unset'}">
    <generic-list style="overflow: auto; height: 100%;" [viewType]="'table'" [allowMultipleSelection]="true" [inline]="true" 
    [dataSource]="listDataSource" [listData]="dataSet">
    <div right-buttons>
    </div>
</generic-list>
</div>

