#previewArea{
    box-shadow: var(--pep-shadow-md-offset, 0 0.5rem 1rem 0) hsla(var(--pep-color-system-primary-h, 0), var(--pep-color-system-primary-s, 0%), var(--pep-color-system-primary-l, 10%), 0.08);
    padding: 1rem;
    border-radius: var(--pep-border-radius-lg);
  }

  .minHeight{
    min-height: 150px;
    padding: 1.5rem;
    // margin: 1.5rem;
    border-radius: 0.5rem;
  }
